<a href="https://colab.research.google.com/github/sngyu0217/Basic-of-Python/blob/main/Basic_of_Python%EC%97%B0%EC%82%B0%EC%9E%90_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**연산자**

In [6]:
#산술연산자
print(1+2, 2-3, 3*4)

new_str="Good"+" "+"Morning"
print(new_str)

print("a"*3)
print(5/3) #나눗셈
print(5//3) #몫
print(5%3) #나머지
print(3**2) #거듭제곱

3 -1 12
Good Morning
aaa
1.6666666666666667
1
2
9

In [11]:
#논리연산자
print(True)
print(not True)
print(type(False))

print("\n")

print(True and True)
print(True and False)
print(False and False)

print("\n")

print(True or True)
print(True or False)
print(False or False)

True
False
<class 'bool'>


True
False
False


True
True
False

In [15]:
#비교연산자
print(3==3) #'=='연산자는 '서로 같다'라는 뜻
print(3!=3) #'!=' 연산자는 '서로 다르다'라는 뜻
print('a'=='a')
print('a'!='a')

print("\n")

print(4<6)
print(4<=6)
print(4>=6)
print(4>6)

print("\n")

print(3<6 and 8<=8)
print(3<6 or 8<=8)
print(not 7<4)

True
False
True
False


True
True
False
False


True
True
True

**제어문**

In [16]:
#if 조건문
a=4
if a%2==0:
  print("a는 짝수")
  print("a는 2의 배수")

a는 짝수
a는 2의 배수

In [18]:
b=3
if b%2==0:
  print("b는 짝수")
else:
  print("b는 홀수")

b는 홀수

In [17]:
c=0
if c>0:
  print("c는 양수")
elif c<0:
  print("c는 음수")
else:
  print("c는 0")

c는 0

In [19]:
#for 반복문
num_list=[1,2,3]
for num in num_list:
  print(num)

1
2
3

In [21]:
for num in [1,2,3]:
  print("기존:",num)
  print("2배:",num*2)
  print("\n")

기존: 1
2배: 2


기존: 2
2배: 4


기존: 3
2배: 6

In [22]:
double=[]
for num in [1,2,3]:
  double.append(num*2)

print(double)

[2, 4, 6]

In [24]:
#while 반복문
num=1
while num<4:
  print(num)
  num+=1 #num=num+1

1
2
3

In [25]:
num=1
while num<4:
  print("기존:",num)
  print("2배:",num*2)
  print("\n")
  num+=1

기존: 1
2배: 2


기존: 2
2배: 4


기존: 3
2배: 6

In [26]:
#break 명령
num=1
double=[]
while True:
  double.append(num*2)
  if len(double)==3:
    break
  num+=1
print(double)

[2, 4, 6]

In [27]:
#continue 명령
num_range=range(1,46)
num_list=list(num_range)
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [28]:
import random
random.shuffle(num_list) #shuffle 함수는 입력받은 배열의 순서를 랜덤하게 섞는다
print(num_list)

[34, 10, 8, 7, 17, 13, 19, 6, 39, 4, 9, 3, 31, 16, 11, 1, 28, 24, 26, 37, 20, 44, 14, 35, 42, 33, 15, 36, 2, 38, 32, 22, 21, 23, 12, 30, 25, 41, 43, 27, 18, 45, 40, 5, 29]

In [30]:
lotto=[]
while len(lotto)<6:
  random.shuffle(num_list)
  num_selected=num_list[0]
  if num_selected in lotto:
    continue
  lotto.append(num_selected)
  print(num_selected)

print(lotto)

8
2
16
23
39
9
[8, 2, 16, 23, 39, 9]

In [32]:
#예외처리(try~except)
data={'name':'Jay','age':20,'grade':[3.0,4.0,3.5,4.2]}

try:
  print("이름",data['name'])
except:
  print("주소 정보가 없습니다")
finally:
  print("모든 작업이 완료되었습니다")

이름 Jay
모든 작업이 완료되었습니다